		h1, h2 {
			text-align: center;
			font-weight: 700;
		}


	
		h3 {
			text-align: center;
		}

		span {
			font-weight: 700;

		}
		
		.active_circle {
			stroke: 2px #000;
			fill: #fff;
		}

		.steppers {
			float:left;
			display: inline-block;
			font-size: 1em;
		}
		#labels {
			
		}

		#labels:hover {
			cursor:pointer;
		}
		
		#labels table {
			width:49%;
			padding:10px;
			display:inline-block;
			
		}
		#labels th {
			padding:5px;
		}
		#labels tr {
			border-bottom: 1px solid #ccc;
		}
		
		#labels p {
			font-size: 1.2em;
			text-align: center;
		}
		.annotation-step {
			display:none;
		}

		.active {
			
			background-color: #d9f0d3;
			
		}
		
		span {
			font-size: 1.8em;
		}

		.Convicted {
			color:#7F3ECC;	
		}


		.Discharged {
			color: #3C9455;
		}

		.Fine {
			color: #64A34C;

		}
		.Probation {
			color: #E7A7FF;
		}
		.Jail {
			color:#7F3ECC;
		}
		.Prison {
			color: #7F3ECC;
		}
		.Dismissed {
			color: #3C9455;
		}
		.SentencePending {
			color: #7B9984;
		}

		.all {
			color:#7B9984;
		}
		.legend {
			color:#7B9984;
		}
		#legend-row {
			text-align: center;
		}

/*		span.dismissed {
			color:#7AA25C;
		}
		
		span.convicted {
			color:#EE9586;
		}
		span.jail {
			color:#D84B2A;
		}
		span.discharged{
			color:#4C4758;
		}
		span.prison{
			color:#8B250D;
		}
		span.fine {
			color:#725A44;
		}
		span.probation {
			color:#58668B;
		}
		span.sentencepending {
			color:#4C4758;
		}*/

		.footnote {
			color:#777;
			font-size:1em;
		}
		.narrative {
			height:220px;
		}
		.narrative-container {
			height:100%;
			background-color: #444;
		}
		#legend {
			border: 1px #eee solid;
		}
		
		h3 {
			line-height: 1.5;
		}
		h4{
			text-align: center;
		}
		.pager a {
			cursor:pointer;
			color: #1b7837;
		}
		.dot {
			stroke-width: 1px;
			stroke: #bbb;
		}
		#container {
			width:100%;
		}

		@media (max-width:1000px) {
			.narrative {
				height:100px;
			}
			.narrative h3{
				font-size: 1.2em;
			}
			.narrative span {
				font-size: 1.4em;
			}
		}
		.axis path,
		.axis line {
			fill:none;
		}

		.x.axis path {
		  display: none;
		}

		.line {
		  fill: none;
		  stroke: #3C9455;
		  stroke-width: 5px;
		}

		.bar {
			fill: #3C9455;
		}