.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	color:#eee;
	font-size: 18px;

}
.fxMarijuana h1, .fxMarijuana h2 {
	text-align: center;
	font-weight: 700;
}


.fxMarijuana h3 {
	text-align: center;
}

.fxMarijuana span {
	font-weight: 700;
}

.fxMarijuana { position: relative; width: 100%; }

.fxMarijuana .active_circle {
	stroke: 2px #000;
	fill: #fff;
}

.fxMarijuana .steppers {
	float:left;
	display: inline-block;
	font-size: 1em;
}

.fxMarijuana #labels {
	margin:0 auto;
	text-align: center;
	background-color: rgba(0,0,0, .8);

}

.fxMarijuana #labels:hover {
	cursor:pointer;
}

.fxMarijuana #labels table {
	padding:0 5px;
	display:inline-block;
	border-collapse: collapse;
}
.fxMarijuana #labels tr {
	border-bottom: 1px solid #eee;
}
.fxMarijuana #labels td {
	padding:3px;
	text-align: right;
	height: 48px;
}

.fxMarijuana #labels p {
	font-size: 1.2em;
	text-align: center;
}
.fxMarijuana .annotation-step {
	display:none;
}

.fxMarijuana .active {
	background-color: #8bc34a;
}

.fxMarijuana span {
	font-size: 1.8em;
	line-height: 1;
}
.fxMarijuana .highlight {
	color:#0075c0;
}

.fxMarijuana .asterisk { text-align: center; color: #ddd; }

.fxMarijuana .Convicted { color:#68C3FF; }
.fxMarijuana .Other { color: #AAA; }
.fxMarijuana .Covered { color: #AAA; }
.fxMarijuana .Discharged { color: #d0d9ff; }
.fxMarijuana .Fine { color: #afbfff; }
.fxMarijuana .Probation { color: #738ffe; }
.fxMarijuana .Jail { color:#0075c0; }
.fxMarijuana .Prison { color: #024687; }
.fxMarijuana .Dismissed { color: #8bc34a; }
.fxMarijuana .Sentence { color: #68C3FF; }
.fxMarijuana .all { color:#8bc34a;}

.fxMarijuana .legend {
	color:#8bc34a;
}
.fxMarijuana #legend-row {
	text-align: left;
	position: absolute; bottom: 0; right: 0;
	background-color: rbga(255,255,255,.5); color:#ddd;
	/*max-width: 200px;*/
}

.fxMarijuana .prev {
	display:none;
}

.fxMarijuana .prev, .next {
	width:40px;	
	border-radius: 50%;
	text-align: center;
	background:#ddd;
	height:40px;
	display:inline-block;
	z-index: 2000;
}
.fxMarijuana .prev span, .fxMarijuana .next span {
	font-size: 40px;
	display:block;
	color: #8bc34a;
	font-weight: bold;
	line-height: 1.0;
}

.fxMarijuana .prev span {
	text-indent: -.2em;
}

.fxMarijuana #start_wrap {
	text-align: center;
	z-index: 2000;
}

.fxMarijuana #startOver span {
	font-size: 30px;
	font-weight: bold;
	color: #8bc34a;
	line-height: 1.42;
	width:40px;	
	height:40px;
	border-radius: 50%;
	text-indent: -.05em;
	background:#ddd;
	z-index: 2000;
}

.fxMarijuana #startOver {
	display:none;
}

.fxMarijuana .prev:hover, .fxMarijuana .next:hover, .fxMarijuana #startOver:hover {
	text-decoration:none;
	cursor:pointer;
	opacity:.6;

}
.fxMarijuana .prev.disabled, .fxMarijuana .next.disabled, .fxMarijuana #startOver:hover {
	opacity:.3;
}
.fxMarijuana .button_wrapper {
	padding-bottom: 40px;
}
.fxMarijuana .button {
	text-align:center;
}

.fxMarijuana a {
	text-decoration: none;
}
.fxMarijuana .footnote {
	color:#777;
	font-size:1em;
	background-color: rgba(0,0,0, .6);
	bottom:0;
	right:0;
	position:absolute;
	min-width: 200px;
}
.fxMarijuana #chart {
	position:absolute;
	top:0;
	left:0;
	z-index: -1000;
}
.fxMarijuana #narrative-container {	
	z-index: 2000;
	width:100%;
	background-color: rgba(0,0,0,.6);
	margin:10px;
	display:inline-block;
	
}


.fxMarijuana #legend {
	border: 1px #eee solid;
}

.fxMarijuana h3 {
	line-height: 1.5;
}
h4{
	text-align: center;
}
.fxMarijuana .pager a {
	cursor:pointer;
	color: #1b7837;
}

.fxMarijuana .dot {
	stroke:#000;
	stroke-width:.5px;

}	

.fxMarijuana #container {
	width:100%;
}

@media (max-width:1000px) {
	.fxMarijuana .labels {
		font-size: .5em;
	}
	.fxMarijuana .narrative h3{
		font-size: 1.2em;
	}
	.fxMarijuana .narrative span {
		font-size: 1.4em;
	}

}




}
.fxMarijuana .axis path,
.fxMarijuana .axis line {
	fill:none;
}

.fxMarijuana .x.axis path {
  display: none;
}


.fxMarijuana .line {
  fill: none;
  stroke: #3C9455;
  stroke-width: 5px;
}

.fxMarijuana .bar {
	fill: #3C9455;
}


.button_container {
	position:relative;
	padding-bottom: 20px;
}

.right-div {
	position:absolute;
	display:inline-block;
	right:25%;
}

.left-div {
	position:absolute;
	display:inline-block;
	left:25%;
	margin-bottom: 100px;
}